* {
    scroll-behavior: smooth;
}

.banner-title {
    margin: 0;
    padding: 0;
}

.form-title {
    padding: 50px 0;
}

.form-title h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
}
/* .hform {
    border-radius: 10px;
    padding: 30px;
    color: #fff;
    background: linear-gradient(45deg, #000 0%, #0C5BAA 130%);
} */
.hform {
    padding: 30px;
    color: #262626;
}
input {
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    padding: 0 15px;
    background: #E4E4E4;
    border: none;
    color: #262626;
    margin: 0;
    height: 50px;
    border-bottom: none;
}
textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    background: #E4E4E4;
    color: #262626;
}
p.form-label {
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    padding: 5px 0;
    margin: 0;
}
input:required {
    box-shadow:none;
}


.underline {
    height: 2px;
    background: #fff;
    width: 0%;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: relative;
    margin-top: -10px;
    margin-bottom: 15px;
}

#button {
    border: 3px solid #262626;
    color: #262626;
    transition: .5s ease-in-out;
    background: transparent;
}
#button:hover {
    background: #262626;
    color: #fff;
}

.contact-office {
    padding: 10px 0;
}

iframe {
    margin: 20px 0;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: 2px solid lightgray !important;
}

.form-area-wrap {
    padding: 80px 0;
}